<br><br><br>
<div class="container bg-secondary">
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="POST" novalidate>
      <br>
      <br>
        <h2 class="bg-primary">Fugu Self Hosted Setup</h2>
      <br>
      <div class="form-group text-center input-container">
        <input type="text" class="form-control" formControlName="field1"
          [ngClass]="{'is-invalid':loginForm.get('field1').errors && (loginForm.get('field1').touched || loginForm.get('field1').dirty )}"
          id="field1" name="field1" placeholder="Domain name">
      </div>
      <span class="gap text-center input-container text-danger"
        *ngIf="(loginForm.get('field1').touched && loginForm.get('field1').errors )">
        This field is required.
      </span>
      <div class="form-group text-center input-container">
        <input type="text" class="form-control" formControlName="field2"
          [ngClass]="{'is-invalid':loginForm.get('field2').errors && (loginForm.get('field2').touched || loginForm.get('field2').dirty )}"
          id="field2" name="field2" placeholder="Zone ID">
      </div>
      <span class="gap text-center input-container text-danger"
        *ngIf="(loginForm.get('field2').touched && loginForm.get('field2').errors )">
        This field is required.
      </span>
      <div class="form-group text-center input-container">
        <input type="text" class="form-control" formControlName="field3"
          [ngClass]="{'is-invalid':loginForm.get('field3').errors && (loginForm.get('field3').touched || loginForm.get('field3').dirty )}"
          id="field3" name="field3" placeholder="Cloudflare Key ">
      </div>
      <span class="gap text-center input-container text-danger"
        *ngIf="(loginForm.get('field3').touched && loginForm.get('field3').errors )">
        This field is required.
      </span>
      <div class="form-group text-center input-container">
        <input type="text" class="form-control" formControlName="field4"
          [ngClass]="{'is-invalid':loginForm.get('field4').errors && (loginForm.get('field4').touched || loginForm.get('field4').dirty )}"
          id="field4" name="field4" placeholder="Cloudflare Email ">
      </div>
      <span class="gap text-center input-container text-danger"
        *ngIf="(loginForm.get('field4').touched && loginForm.get('field4').errors )">
        This field is required.
      </span>
      <div class="form-group text-center input-container">
        <input type="text" class="form-control" formControlName="field5"
          [ngClass]="{'is-invalid':loginForm.get('field5').errors && (loginForm.get('field5').touched || loginForm.get('field5').dirty )}"
          id="field5" name="field5" placeholder="IP Address ">
      </div>
      <span class="gap text-center input-container text-danger"
        *ngIf="(loginForm.get('field5').touched && loginForm.get('field5').errors )">
        This field is required.
      </span>
     <div class="form-group text-center ">
      <button [disabled]="!loginForm.valid" (click)="onSubmit()" class="btn btn-primary" style="padding:10px 50px 10px 50px;" id="btn" type="submit">Submit</button>
    </div>
    </form>
    <br>
  </div>
</div>